/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/components/countryInfo.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.countryInfo_countryInfo__ZMpdp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    gap: 1.5rem;
}

.countryInfo_countryName___nwnO {
    margin-bottom: 1rem;
    color: #1abc9c;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    text-align: center;
}

.countryInfo_countryImage__j2glR {
    max-width: 150px;
    max-height: 100px;
    height: auto;
}

.countryInfo_countryBorder__Kkdo1 {
    margin-left: 2rem;
}

.countryInfo_countryBorderTitle__20l5j {
    font-size: 1.5rem;
    font-weight: 600;
    color: #255, 255, 255;
    margin-bottom: 1rem;
}

.countryInfo_countryBorderList__VDqrE {
    list-style-type: disc;
    list-style-position: inside; 
    margin-bottom: 1%;
    list-style: none;
    max-width: 200px;
}

.countryInfo_countryBorderItem__8YQyG {
    padding: 15px;
    margin-bottom: 10px;
    color: #4B5563;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    transition: background-color 0.3s ease;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.countryInfo_countryBorderLink__QactH {
    color: #1abc9c;
}

.countryInfo_population__E4lFZ {
    margin-bottom: 6rem;
}

.countryInfo_populationTitle__kBl_R {
    font-size: 1.25rem;
    font-weight: 600;
    color: #255, 255, 255;
    margin-bottom: 0.5rem;
    margin-left: 2rem;
}

.countryInfo_populationChart__PHvKS {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}
