.section.container {
  height: 100%;
  margin: 0;
}

.container {
  min-height: 100vh;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #63b3ed, #9f7aea);
}

