.countryInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    gap: 1.5rem;
}

.countryName {
    margin-bottom: 1rem;
    color: #1abc9c;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    text-align: center;
}

.countryImage {
    max-width: 150px;
    max-height: 100px;
    height: auto;
}

.countryBorder {
    margin-left: 2rem;
}

.countryBorderTitle {
    font-size: 1.5rem;
    font-weight: 600;
    color: #255, 255, 255;
    margin-bottom: 1rem;
}

.countryBorderList {
    list-style-type: disc;
    list-style-position: inside; 
    margin-bottom: 1%;
    list-style: none;
    max-width: 200px;
}

.countryBorderItem {
    padding: 15px;
    margin-bottom: 10px;
    color: #4B5563;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    transition: background-color 0.3s ease;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.countryBorderLink {
    color: #1abc9c;
}

.population {
    margin-bottom: 6rem;
}

.populationTitle {
    font-size: 1.25rem;
    font-weight: 600;
    color: #255, 255, 255;
    margin-bottom: 0.5rem;
    margin-left: 2rem;
}

.populationChart {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}