.container {
    margin: 0 auto;
        margin-top: 36px;
        /* padding-left: 20px;
        padding-right: 20px; */
        max-width: 100%;
        background-color: var(--main-bg);
    
        @media screen and (min-width: 360px) {
            width: 360px;
        }
    
        @media screen and (min-width: 768px) {
            padding-right: 30px;
            padding-left: 30px;
            width: 768px;
        }
    
        @media screen and (min-width: 1280px) {
            margin-top: 24px;
            width: 1240px;
            padding: 0;
        }
}

.title {
    font-size: 1.875rem;
    font-weight: bold;
    text-align: center;
    color: #4a5568;
    margin-bottom: 1.5rem;  
}

.list {
    margin-top: 1rem;
    list-style: none;
    /* width: 200px; */
}

.listItem {
    background: linear-gradient(to right, #ec4899, #f59e0b);
    /* border-radius: 0.5rem; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
    text-align: center;
    font-weight: 600;
}

.link {
    display: inline-block;
    width: 100%;
    padding: 1rem;
    transition: transform 0.3s ease-in-out;
}
.link:hover {
    transform: scale(1.15);
}