
.title {
    font-size: 1.875rem;
    font-weight: bold;
    text-align: left;
    color: #1abc9c;
    margin-bottom: 1.5rem;  
}

.list {
    list-style: none;
    padding: 0;
    /* margin: 20px auto; */
    max-width: 200px;
    overflow: hidden;
}

.listItem {
    padding: 15px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    transition: background-color 0.3s ease;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.listItem:hover {
    background-color: rgba(249, 249, 249, 0.2);
}

.listItem:last-child {
    border-bottom: none;
    margin-bottom: 0px;
}

.link {
    text-decoration: none ;
    color: #1abc9c;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

@media (max-width: 768px) {
    .list {
        margin: 10px auto;
    }

    .listItem {
        padding: 12px;
    }

    .link {
        font-size: 16px;
    }
}